<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @recipe.user.email %>
</p>

<p>
Ingredients:
</p>

<% @recipe.ingredients.each do |ingredient| %>
  <p><%= ingredient.amount %> <%= ingredient.unit %> of <%= ingredient.name %>
  <% if @recipe.user == current_user %>
  | <%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %> 
  </p>

<% end %> 

<%= link_to "Add Ingredients", new_ingredient_path(recipe_id: @recipe.id) %> |
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
